body {
    background: #F8F7FC;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.circle-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-content: center;
  }
h1{
    font-family: 'font-family: 'Roboto Mono', monospace;oppins Bold';
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}